html{
  height: 100%;
}
body {
  width:100%;
  min-height: 100%;
  margin:0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #eee;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  max-width: 350px;
  padding: 10px;
}
h1{
  font-size: 1.9em;
}
label {
  display: block;
  margin-top:10px;
  display: inline-block;
}
input{
  vertical-align: top;
  margin:0;
}
input[type=checkbox]{
  margin-top: 10px;
  display: inline-block;
}
input[type=checkbox]::-moz-focus-inner {
  border: 0;
}
input[type=checkbox]:checked, input[type=checkbox]:disabled:checked{
  background: #333;
  box-shadow: inset 0 0 0 4px #fff;
}
input[type=checkbox]{
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: .25em;
  padding: 0;
  background: #fff;
  border: 2px solid #333;
  width: 18px;
  height: 18px;
  -webkit-transition: all .5s ease;
  transition: background .5s ease;
  outline: 0;
  transform: translateY(-4px);
}
input[type="text"],
input[type="number"],
input[type="password"]{
  padding:5px;
  border:3px solid #333;
  width: 100%;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus{
  outline: 3px solid #333;
}
#message{
  margin-top:10px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
button{
  border: none;
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  background: #333;
  color: #fff;
  transition: all .2s ease;
  font-weight: 600;
}
button:hover{
  background: #000;
  cursor: pointer;
}
#notify-fieldset{
  visibility: hidden;
  opacity: 0;
  max-height:0;
  transition: all .3s ease;
}
#newMarksNotify:checked ~ #notify-fieldset{
  visibility: visible;
  max-height: 250px;
  opacity:1;
}