body {
  font-family: "Noto Sans", Arial, sans-serif;
  min-width: 450px;
  max-width: 470px;
  font-size: 75%;
  margin: 0;
  padding: 12px;
  box-sizing: border-box;
}
a[href]{
  cursor: pointer;
}
h2, h3{
  width: 100%;
  margin-bottom: 0;
  margin-top:12px;
} 
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
.row:first-child h2{
  margin-top:0;
}
.row{
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid #ddd;
  padding-bottom: 12px;
}
.col{
  margin-right: 20px;
}
.col:last-child{
  margin-right: 0;
}
.mark-type{
  display: inline-block;
  width: 60px;
}
.mark{
  font-weight: 600;
}
.button{
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  border: 2px solid #ddd;
  transition: all .3s ease;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 0;
}
.button:hover{
  background: #ddd;
}
#refreshBttn{
  position:absolute;
  top:10px;
  right: 10px;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  color:#888;
  transition: transform .5s ease;
  transform-origin: 44% 50%;
}
#refreshBttn:hover{
  color:#333;
}
#refreshBttn::-moz-focus-inner {
  border: 0;
}
.error svg path{
  fill: #ec330d;
}
.spin{
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
